<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
		
		<context:component-scan base-package="com.sony.SpringDemo"></context:component-scan>
	
	<!-- <bean id="cricketer" class="com.sony.SpringDemo.Cricketer" autowire="byType">
		<property name="batsman" value="Raina"></property>
		<property name="run" value="72"></property>
		<property name="bat" ref="bat"></property>
	</bean>
	
	<bean id="bat1" class="com.sony.SpringDemo.Bat" primary="true">
		<property name="brand" value="MRF"></property>
		<property name="price" value="1200"></property>
	</bean>
	
	<bean id="bat2" class="com.sony.SpringDemo.Bat">
		<property name="brand" value="Hero"></property>
		<property name="price" value="1300"></property>
	</bean> -->

</beans>
